html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }



body {
    background-color: #bdc3c7;
    margin: 2rem;
    width: 250px;
}

div {
    background-color: #31363b;
    width: 250px;
}

.whole {
    box-shadow: 5px 5px 5px rgb(85, 85, 85);
}

.logo {
    box-shadow: 5px 5px 20px rgb(26, 26, 26);
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    margin: 1rem;
    margin-top: 2rem;
    font-size: 1.5rem;
}

.hlavicka {
    position: relative;
}

.logo {
    background-color: #b92e81;
    border-radius: 50%;
    position: absolute;
    top: 140px;
    left: 170px;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.9rem;
    margin: 1rem;
    color: gainsboro;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

.profil {
    padding-bottom: 1rem;
    border-bottom: 1px solid #3f464d;
}



button {
    background-color:#31363b;
    border: 1px solid #3f464d;
    padding: 15px 49px;
    text-align: center;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: gainsboro;
    text-decoration: none;
    cursor: pointer;
  }

  .portfolio {
    width: 250px;
  }

  .facebook {
    position: relative;
    width: 125px;
    text-align: center;
    padding: 1rem
}

  .twitter {
    position: absolute;
    width: 125px;
    text-align: center;
    padding: 1rem;
  }




  .twitter:hover {
    background-color: #1da1f2;
    color: whitesmoke;
}

.facebook:hover {
    background-color: #3b5998;
    color: whitesmoke;
}

.portfolio:hover {
    background-color: #e74c3c;
    color: whitesmoke;
}




