html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 czechitas  #b92e81
 pozadi     #bdc3c7
 tmava      #31363b
 delitka    #3f464d
 portfolio  #e74c3c
 facebook   #3b5998
 twitter    #1da1f2
*/


body {
    background-color: #bdc3c7;
    margin: 2rem;
}

div {
    background-color: #31363b;
    width: 250px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    margin: 1rem;
    margin-top: 2rem;
    font-size: 1.5rem;
}

.hlavicka {
    position: relative;
}

.logo {
    background-color: #b92e81;
    border-radius: 50%;
    position: absolute;
    top: 140px;
    left: 170px;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.9rem;
    margin: 1rem;
    color: gainsboro;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

.obsah {
    border-bottom: 0.5px solid #3f464d;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 250px;
}

li a {
    display: block;
}

.portfolio {
    width: 250px;
    text-align: center;
}




