html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 czechitas  #b92e81
 pozadi     #bdc3c7
 tmava      #31363b
 delitka    #3f464d
 portfolio  #e74c3c
 facebook   #3b5998
 twitter    #1da1f2
*/


body {
    background-color: #bdc3c7;
    margin: 2rem;
}

div {
    background-color: #31363b;
    width: 250px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    margin: 1rem;
    margin-top: 2rem;
    font-size: 1.5rem;
}

.hlavicka {
    position: relative;
}

.logo {
    background-color: #b92e81;
    border-radius: 50%;
    position: absolute;
    top: 140px;
    left: 170px;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.9rem;
    margin: 1rem;
    color: gainsboro;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}


button {
    background-color:#31363b;
    border: 0.5px solid #3f464d;
    padding: 15px 50px;
    text-align: center;
    display: inline-block;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-decoration: none;
  }

  .portfolio {
    border-bottom: none;
    position: relative;
  }

  .facebook {
    position: relative;
    width: 50%;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    padding: 1rem
}

  .twitter {
    position: relative;
    right: -125px;
    width: 50%;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    padding: 1rem;
  }



  /* On mouse-over */
  .button:hover {
    color: #1da1f2;
}





